.fbody{
    line-height: 1.5;
    font-family: 'Poppins', sans-serif;
  }
  
  .footer{
    background-color:#480099;
    padding: 10px 10px;
  }
  .whi{
        color:#ffffff;
        font-family:  'Poppins', sans-serif;
        font-weight: 100;

  }


  
  

 